# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.FESTIVAL CS.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\papy_\RiderProjects\FESTIVAL CS\.idea\.idea.FESTIVAL CS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
